@media (min-width: 1024px) and (max-width:1439px){
#all{
  display: flex;
  flex-direction: column;
}
#wrapper{
  display:flex;
  width: 100%;
  height: 55px;
  margin: 0px auto;
  position: fixed;
  background-color: white;
  z-index: 999;
  justify-content: space-between;
}
#photo{
display: flex;
flex-direction: none;
margin: auto 0px;
transform: scale(1.2);
}
#n1{
  background-color: #FBB900;
  width: 32px;
  height: 32px;
  border-radius: 250px;
margin: auto 7px;
}
#n2{
  background-color: #FBB900;
  width: 32px;
  height: 32px;
  border-radius: 250px;
  margin: auto 7px;
}
#n3{
  background-color: #FBB900;
  width: 32px;
  height: 32px;
  border-radius: 250px;
  margin: auto 7px;
}
#alln{
  display: flex;
}
#kryjki{
  display: flex;
  margin: auto 0px;
}
#button1{
  background-color: #FBB900;
  width: 180px;
  height: 32px;
  border-radius: 250px; 
  border: none;
  margin: auto 20px;
  text-decoration: none;
  padding: 6px 7px 6px 7px;
}
#text{
  color: white;
  font-size: 14px;
  font-weight: 700;
}
#button1:hover{
  background-color:  #eeaf02;
  animation-duration: 0.3s;
  animation-name: hover;
}
@keyframes hover {
  from{
    background-color: #FBB900;
  }
  to{
    background-color: #eeaf02;
  }
}
.btn-primary{
  background-color: #FBB900;
  color: aliceblue;
  width: 240px;
  height: 40px;
  border-radius: 200px;
  border: none;
  --bs-btn-active-bg: #c59001;
}
.btn-primary:hover{
background-color: #eeaf02;
}
.btn-primary:active {
  background-color: #eeaf02;
}
#imgvg{
  width: 100%;
}
#hero{
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#text1{
display: block;
font-size: 20px;
font-weight: bold;
margin: 50px 0px 0px 50px;
}
#photo2{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#th1{
  display: flex;
  margin-bottom: 6px;
} 

#th1 h1{
  margin: 5px 0px auto 60px;
  font-size: 26px;
  font-weight: bold;
} 
#wantback{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100%;
  height: 800px;
  background-color: #FBB900;
  z-index: -1;
}
#osnova{
  font-size: 48px;
  text-align: center;
  color: white;
  margin: 200px 300px 0px 300px;
}
#dop{
  text-align: center;
  font-size: 28px;
  margin: 30px 300px 0px 300px;
  font-weight: 300;
}
#dop1{
  text-align: center;
  font-size: 28px;
  margin: 10px 300px 0px 300px;
  font-weight: 300;
}
.btn-secondary{
  background-color: white;
  width: 350px;
  height: 60px;
  border-radius: 250px; 
  border: none;
  margin: auto 20px;
  text-decoration: none;
  padding: 6px 7px 6px 7px;
  margin: 60px auto auto auto;
}
.btn-secondary{
  background-color: #65697C;
  color: aliceblue;
  border: none;
  --bs-btn-active-bg: #98ce00;
}
.btn-secondary:hover{
  background-color: #98ce00;
}
#strelka{
  position: absolute;
  transform: scale(0.5) translateX(-280px);
  fill: white;
}
#underhero{
  position: absolute;
  background-color: white;
  width: 100%;
  height: 600px;
  margin: 1600px 0px;
  padding: 0px 48px;
}
#reading{
  font-size: 38px;
  text-align: center;
  color: #FDD76F;
}
#reading1{
  background-color: rgb(243,241,235);
  border-radius: 20px; 
  font-size: 18px;
  text-align: left;
  color: black;
  width: 100%;
  padding: 40px;
  margin: 40px 0px 20px 0px;
}
#podtext{
  background-color: rgb(243,241,235);
  border-radius: 20px; 
  font-size: 18px;
  text-align: left;
  color: black;
  width: 49%;
  padding: 40px;
}
#podtext1{
  background-color: rgb(243,241,235);
  border-radius: 20px; 
  font-size: 18px;
  text-align: left;
  color: black;
  width: 49%;
  padding: 40px;
}
#reading2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#vse{
  max-width: 1600px;
}
#clode{
  position: absolute;
  background-color: white;
  width: 100%;
  height: 600px;
  margin: 2200px 0px;
  padding: 0px 48px;
}
#clode1{
  font-size: 38px;
  text-align: center;
  color: #FDD76F;
}
#card1{
  height: 200px;
  width: 250px;
}
#card2{
  height: 200px;
  width: 250px;
  }
#card3{
  height: 200px;
  width: 250px;
}
#cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  width: 100%;
  padding: 0px 150px;
}
#imgvg1{
  filter: brightness(40%);
  width: 100%;
}
#qwcard1{
  height: 200px;
  width: 250px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 100;
  text-align: center;
}
#qwcard2{
  height: 200px;
  width: 250px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 100;
}
#qwcard3{
  height: 200px;
  width: 250px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 100;
  text-align: center;
}
.btn-success{
  border: 1px solid white;
  --bs-btn-active-bg: white;
  --bs-btn-bg: none;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-color: #3e3e3e;
  --bs-btn-active-border-color: white;
  --bs-btn-active-color: #3e3e3e;
  width: 100px;
  height: 32px;
  border-radius: 200px;
  padding: 2px 3px 3px 2px;
  font-size: 14px;
  
}
.btn-warning{
  border: 1px solid white;
}
}






@media (min-width: 1440px) and (max-width:1920px){
  #all{
    display: flex;
    flex-direction: column;
  }
  #wrapper{
    display:flex;
    width: 100%;
    height: 80px;
    margin: 0px auto;
    position: fixed;
    background-color: white;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
  }
  #photo{
  display: flex;
  flex-direction: none;
  margin: auto 20px;
  transform: scale(1.2);
  }
  #n1{
    background-color: #FBB900;
    width: 32px;
    height: 32px;
    border-radius: 250px;
  margin: auto 7px;
  }
  #n2{
    background-color: #FBB900;
    width: 32px;
    height: 32px;
    border-radius: 250px;
    margin: auto 7px;
  }
  #n3{
    background-color: #FBB900;
    width: 32px;
    height: 32px;
    border-radius: 250px;
    margin: auto 7px;
  }
  #alln{
    display: flex;
  }
  #kryjki{
    display: flex;
    margin: auto 0px;
  }
  #button1{
    background-color: #FBB900;
    width: 180px;
    height: 32px;
    border-radius: 250px; 
    border: none;
    margin: auto 20px;
    text-decoration: none;
    padding: 6px 7px 6px 7px;
  }
  #text{
    color: white;
    font-size: 14px;
    font-weight: 700;
  }
  #button1:hover{
    background-color:  #eeaf02;
    animation-duration: 0.3s;
    animation-name: hover;
  }
  @keyframes hover {
    from{
      background-color: #FBB900;
    }
    to{
      background-color: #eeaf02;
    }
  }
  .btn-primary{
    font-size: 26px;
    background-color: #FBB900;
    color: aliceblue;
    width: 360px;
    height: 60px;
    border-radius: 200px;
    border: none;
    --bs-btn-active-bg: #c59001;
  }
  .btn-primary:hover{
  background-color: #eeaf02;
  }
  .btn-primary:active {
    background-color: #eeaf02;
  }
  #imgvg{
    width: 100%;
  }
  #hero{
    height: 720px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #text1{
  display: block;
  font-size: 36px;
  font-weight: bold;
  margin: 50px 0px 0px 150px;
  width: 450px;
  }
  #photo2{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  #th1{
    display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 12px;
  } 
  
  #th1 h1{
    margin: 5px 0px auto 60px;
    font-size: 26px;
    font-weight: bold;
  } 
  #wantback{
    position: absolute;
    margin-top: 820px;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    height: 800px;
    background-color: #FBB900;
    z-index: -1;
  }
  #osnova{
    font-size: 58px;
    text-align: center;
    color: white;
    margin: 200px 300px 0px 300px;
  }
  #dop{
    text-align: center;
    font-size: 38px;
    margin: 30px 300px 0px 300px;
    font-weight: 300;
  }
  #dop1{
    text-align: center;
    font-size: 38px;
    margin: 10px 300px 0px 300px;
    font-weight: 300;
  }
  .btn-secondary{
    background-color: white;
    width: 500px;
    height: 80px;
    border-radius: 250px; 
    border: none;
    margin: auto 20px;
    text-decoration: none;
    padding: 6px 7px 6px 7px;
    margin: 60px auto auto auto;
    font-size: 22px;
  }
  .btn-secondary{
    background-color: #65697C;
    color: aliceblue;
    border: none;
    --bs-btn-active-bg: #98ce00;
  }
  .btn-secondary:hover{
    background-color: #98ce00;
  }
  #knopka{
    margin-top: 30px;
  }
  #strelka{
    margin-top: 15px;
    position: absolute;
    transform: scale(0.6) translateX(-260px);
    fill: white;
  }
  #underhero{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 800px;
    margin: 1750px 0px;
    padding: 0px 48px;
  }
  #reading{
    font-size: 42px;
    text-align: center;
    color: #FDD76F;
  }
  #reading1{
    background-color: rgb(243,241,235);
    border-radius: 20px; 
    font-size: 22px;
    text-align: left;
    color: black;
    width: 100%;
    padding: 40px;
    margin: 40px 0px 20px 0px;
  }
  #podtext{
    background-color: rgb(243,241,235);
    border-radius: 20px; 
    font-size: 22px;
    text-align: left;
    color: black;
    width: 49%;
    padding: 40px;
  }
  #podtext1{
    background-color: rgb(243,241,235);
    border-radius: 20px; 
    font-size: 22px;
    text-align: left;
    color: black;
    width: 49%;
    padding: 40px;
  }
  #reading2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #vse{
    max-width: 1600px;
    margin: 0px 180px;
  }
  #clode{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 600px;
    margin: 2300px 0px;
    padding: 0px 48px;
  }
  #clode1{
    font-size: 42px;
    text-align: center;
    color: #FDD76F;
  }
  #card1{
    height: 320px;
    width: 380px;
  }
  #card2{
    height: 320px;
    width: 380px;
    }
  #card3{
    height: 320px;
    width: 380px;
  }
  #cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 110px;
    width: 100%;
    padding: 0px 190px;
  }
  #imgvg1{
    filter: brightness(40%);
      width: 100%;
  }
  #qwcard1{
    font-size: 24px;
    height: 320px;
    width: 380px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    z-index: 100;
    text-align: center;
  }
  #qwcard2{
    font-size: 24px;
    height: 320px;
    width: 380px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    z-index: 100;
  }
  #qwcard3{
    font-size: 24px;
    height: 320px;
    width: 380px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    z-index: 100;
    text-align: center;
  }
  .btn-success{
    border: 1px solid white;
    --bs-btn-active-bg: white;
    --bs-btn-bg: none;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-color: #3e3e3e;
    --bs-btn-active-border-color: white;
    --bs-btn-active-color: #3e3e3e;
    width: 180px;
    height: 40px;
    border-radius: 200px;
    padding: 2px 3px 3px 2px;
    font-size: 18px;
    
  }
  .btn-warning{
    border: 1px solid white;
  }
  }